@model Webshop.Models.ManagerModel;


<button onclick="location.href='@Url.Action("AddPhoneView", "Manager")'">Add Phone</button>

<button onclick="location.href='@Url.Action("ModifyPhoneView", "Manager")'">Modify Phone</button>

<button onclick="location.href='@Url.Action("DeletePhoneView", "Manager")'">Delete Phone</button>

