@model Webshop.Models.PhoneModel;


<button onclick="location.href='@Url.Action("AddPhoneView", "Phone")'">Telefoon Toevoegen</button>

<button onclick="location.href='@Url.Action("ModifyPhoneView", "Phone")'">Telefoon bewerken</button>

<button onclick="location.href='@Url.Action("DeletePhoneView", "Phone")'">Telefoon Verwijderen</button>

