@model Webshop.Models.PhoneModel;

<label>All Phones</label>

<ul>
    @for (var i = 0; i < Model.Brands.Count; i++)
    {
        <li>
            Brand: @Model.Brands[i]
            <br />
            Model: @Model.Models[i]
        </li>
    }
</ul>
